html, 
body, 
div#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Board {
  display: flex;
  width: 600px;
  height: 600px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.Cell {
  height: 200px;
  width: 200px;
  box-sizing: border-box;
  border: 5px solid black;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.Cell:hover {*/
  /*background-color: #a3be8c;*/
/*}*/

.Cell.valid:hover {
  cursor: pointer;
  background-color: #a3be8c;
}

.Cell.invalid:hover {
  cursor: not-allowed;
  background-color: #bf616a;
}

.noselect {
  user-select: none;
}
