html,
body,
#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Logo {
  height: 100%;
  width: 100%;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo img {
  width: 900px;
}

.Controls {
  padding-bottom: 20px;
}

.Controls select {
  margin-right: 10px;
}

.Info {
  padding-top: 20px;
}

.Game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.Board {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Cell {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 5px solid black;
  font-size: 5em;
}

.Cell.valid:hover {
  cursor: pointer;
  background-color: #a3be8c;
}

.Cell.invalid:hover {
  cursor: not-allowed;
}

.noselect {
  user-select: none;
}
